/* Define custom color variables for consistent theming */
:root {
  --color-primary: #f9d72f; /* Primary color used for buttons and highlights */
  --color-background: #e6e6e6; /* Background color for header elements */
  --color-task: #f7f7f7; /* Background color for task items */
  --color-success: #36d39a; /* Color indicating successful actions */
  --color-warning: #fbbe23; /* Color indicating warnings or important notes */
  --color-error: #f87171; /* Color indicating errors or alerts */
}

/* Universal reset for padding and margins */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: vazirmatn, Arial, Helvetica, sans-serif;
}

/* Body styling */
body {
  max-width: 1000px;
  margin: auto;
}

/* Main container styling */
.container {
  width: 100%;
  margin: 40px auto 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #cfcfcf;
  align-items: center;
  box-shadow: 0 8px 0 rgba(31, 38, 135, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Heading styling */
h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* Input section styling */
.input-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* Input field styling */
.input-section input {
  margin-left: 10px;
  width: 100%;
  border: var(--color-primary) 1px solid;
  border-radius: 5px;
  padding: 10px;
  color: gray;
}

/* Input field focus state */
.input-section input:focus {
  outline: none;
  border-width: 2px;
}

/* Button styling */
button {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
}

/* Button hover state */
button:hover {
  opacity: 0.8;
}

/* Todos operator styling */
.todos-operator {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Delete button styling */
#delete-all-button {
  background-color: var(--color-error);
}

/* Table styling */
table {
  width: 100%;
}

/* Table header styling */
thead {
  background-color: var(--color-background);
}

thead th {
  padding: 10px;
}

thead th:first-child {
  border-top-right-radius: 10px;
}

thead th:last-child {
  border-top-left-radius: 10px;
}

/* Table body styling */
tbody td {
  background-color: var(--color-task);
  padding: 5px 10px;
  text-align: center;
  width: 25%;
}

/* Button styling within table cells */
tbody td button {
  padding: 4px 8px;
  margin: 2px 5px;
}

/* Button color variations in the table */
tbody td button:nth-child(1) {
  background-color: var(--color-warning);
}
tbody td button:nth-child(2) {
  background-color: var(--color-success);
  width: 48px;
}
tbody td button:nth-child(3) {
  background-color: var(--color-error);
}

/* Alert message styling */
#alert-message {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

/* Alert styling */
.alert {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

/* Success alert styling */
.alert-success {
  background-color: var(--color-success);
}

/* Error alert styling */
.alert-error {
  background-color: var(--color-error);
}

/* Edit button hidden by default */
#edit-button {
  display: none;
}
